.content {
    margin-top: 5%;
}

.img-thumbnail {
    width: 286px;
    height: 180px;
}

.footerCard {
    width: 18rem;
}

.footer-subgroup {
   list-style: none;
    padding-left: 10%;
}
/*todo: fixed background image for jumbotron*/
/*.jumbotron {
    background-color: white;
    background-image: url("../assets/jesus-kiteque-wn-KYaHwcis-unsplash.jpg");
    background-size: cover;
}*/